*{
	margin:0px;
	padding:0px;
}
.wrapper{
	width: 100%;
	background-color: #f8f8f8;
	text-align: center;
	line-height: 50px;
}
.main-table{
	border: 2px solid #aaaaaa;
	width: 80%;
	margin:10px auto;
	padding: 1%;
}
.btn-link{
	padding: 15px;
	background-color: #cccccc;
	text-decoration: none;
	color: #000000;
	border-radius:5px;
	display: inline-block; 
	margin-bottom: 10px;
}
.btn-link:hover{
	background-color: #aaaaaa;
}

.clearfix{
    display: table;
    content: " ";
    clear: both;
}
/* Images Slider */

@import(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.carousel-container{
	/* border: 5px solid #dd55dd; */
	position: relative;
	overflow: hidden;
	height: 500px;
	/* margin: auto; */
	width: 1428px;
}


.carousel-container .carousel-image-wrapper{
	height: 500px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.carousel-image-wrapper img{
	height: 100%;
	float: left;
	width: 1428px;
}

.controller-box{
	height: 50px;
	width: 500px;
	background-color: #808080;
	color: brown;
	margin:auto;
	border-radius: 50px;
	position: absolute;
	bottom: 50px;
	left: 450px;
	opacity: 0.8;
}
.ltArrow{
	line-height:30px;
	height: 30px;
	width: 30px;
	margin:10px 0;
	left: 3%;
	display:inline-block;
	font-weight: bolder;
	font-size: 28px;
	border-radius: 15px;
	position: absolute;
}
.rtArrow{
	line-height:30px;
	margin:10px 0;
	height: 30px;
	width: 30px;
	margin-right: 1%;
	display:inline-block;
	/* float: left; */
	font-weight: bolder;
	font-size: 28px;
	/* border:none; */
	border-radius: 15px;
	right: 0px;
	position: absolute;
}
.indicator{
	display: inline-block;
	left: 33%;
	position: absolute;
	
}